<%= form_for(@glossary, remote: true) do |f| %>
	<%= f.text_field :title, placeholder: "glossary" %>
	<%= f.submit "Submit", id: "glossary-new-submit", class: "invisible" %>
	<div id="error_explanation"></div>
<% end %>