<li class="glossary-line">
	<%= link_to glossary.title.upcase, glossary_path(glossary), id: "glossary-#{glossary.id}", class: 'glossary-link' %>
	<span class="break">\\</span>
	<span id="created" class="created"><%= glossary.created_at.strftime("#{glossary.created_at.day.ordinalize} %B, %Y") %></span>
</li>