<%= form_for(@glossary) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<div class="field">
		<%= f.text_field :title, placeholder: "new glossary" %>
	</div>
	<%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %> 