// $('form#new_term').on('ajax:success', function(evt, data, stat, xhr){
// 	var msg = xhr.getResponseHeader('X-Message');
// 	var type = xhr.getResponseHeader('X-Message-Type');
// 	show_ajax_message(msg, type);
// 	fade_flash();
// });

// $('form#new_term')
// 	.on('ajax:success', function(evt, data, status, xhr){
// 		 var $form = $(this)

// 		 $form.find('textarea, input[tpye="text"]').val("");
// 		 $form.find('div#error_explanation').empty();

// 		 $('ul#terms').append("");
// 		 alert('success!')

// 	});

var el = $('form#new_glossary');

<% if @glossary.errors.any? %>

  // Create a list of errors
  var errors = $('<ul />');

  <% @glossary.errors.full_messages.each do |error| %>
    errors.append("<li><%= j render( partial: 'shared/error_messages', locals: { object: @glossary } ) %></li>");
  <% end %>

  // Display errors on form
  el.find('#error_explanation').html(errors);  

<% end %>