<h1 id="welcome-msg">Welcome</h1>

<% if @glossaries.any? %>
	<ol id="glossaries" tab-index"-1">
		<%= render @glossaries %>
	</ol>
<% end %>

<section class="page-map" style="display:none;">
	<p>This is the glossaries index. From here you can search for / create / archive / update a glossary.</p>
	<p>Glossary attributes are:
		<ul>
			<li>title</li>
			<li>date created</li>
			<li>status</li>
		</ul>
	</p>
	<p>Glossaries in black are normal status, glossaries in blue have been updated.</p>

	<h1>Universal menu</h1>
	<p>Menu has:
		<ul>
			<li>help</li>
			<li>contact></li>
		</ul>
	</p>

	<h1>Menu</h1>
	<ul>
		<li>add</li>
		<li>edit</li>
	</ul>

	<h1>Universal design</h1>
	<p>When searching, the background goes black<p>
	<p>When creating, the background blurs</p>
	<p>When archiving / destroying, the object turns grey, removes on refresh</p>
	<p>When editing, the background turns #f5d76e</p>

	<h1>Design</h1>
	<p>When searching, start typing in the input to start search</p>
	<p>When creating, modal dialong appears</p>
	<p>When editing the archive symbol appears on the left of each glossary</p>
	<p>Clicking on the title allows editing</p>
</section>