<% provide(:title, @glossary.title) %>
<h1><%= @glossary.title %></h1>

<% if @glossary.terms.any? %>
	<ul id="terms">
		<%= render @terms %>
	</ul>
<% end %>

<div class="row">
	<section>
		<%= render 'terms/term_form' %>
	</section>
</div>