<%= form_for([@glossary, @term], remote: true) do |f| %>
	<div class="term-input sign-up-email">
		<%= f.text_field :term, placeholder: "term" %>
	</div>
	<div class="definition-input">
		<%= f.text_area :definition, placeholder: "definition" %>
	</div>
	<div class="invisi-button">
		<%= f.submit "Save Changes", class: "btn btn-large btn-primary", id: "term-new-submit" %>
	</div>
	<div id="error_explanation"></div>
<% end %>