<%= content_tag :li, id: "term_#{term.id}", class: "term-line" do %>
	<%= link_to glossary_term_path(@glossary, term),
							remote: true,
							method: :delete,
							data: { confirm: "You sure?" },
							id: "delete_term_#{term.id}",
							class: 'term-delete' do %>
		<i class="fa fa-minus-square fa-2x"></i>
	<% end %>
	<span class="term">
		<%= link_to term.term,	glossary_term_path(@glossary, term),
														remote: true,
														data: { :toggle => 'modal', :target => '#termForm', :glossary => @glossary.id, :term => term.id },
														class: 'term-text' %>
	</span>
<% end %>