<%= content_tag :li, id: "term_#{term.id}" do %>
	<%= link_to "delete", glossary_term_path(@glossary, term),
												remote: true,
												method: :delete,
												data: { confirm: "You sure?" },
												id: "delete_term_#{term.id}",
												class: 'term-delete' %>
	<span class="term">
		<%= link_to term.term,	edit_glossary_term_path(@glossary, term),
														remote: true,
														data: { :toggle => 'modal', :target => '#termForm' },
														class: 'term-text' %>
	</span>
	<span class="definition"><%= term.definition %></span>
<% end %>