// $('form#new_term').on('ajax:success', function(evt, data, stat, xhr){
// 	var msg = xhr.getResponseHeader('X-Message');
// 	var type = xhr.getResponseHeader('X-Message-Type');
// 	show_ajax_message(msg, type);
// 	fade_flash();
// });

// $('form#new_term')
// 	.on('ajax:success', function(evt, data, status, xhr){
// 		 var $form = $(this)

// 		 $form.find('textarea, input[tpye="text"]').val("");
// 		 $form.find('div#error_explanation').empty();

// 		 $('ul#terms').append("");
// 		 alert('success!')

// 	});

var el = $('form#new_term');


<% if @term.errors.any? %>

  // Create a list of errors
  var errors = $('<ul />');

  <% @term.errors.full_messages.each do |error| %>
    errors.append('<li><%= escape_javascript( error ) %></li>');
  <% end %>

  // Display errors on form
  el.find('#error_explanation').html(errors);

<% else %>

  // We could also render a partial to display the term here
  $('#terms').html("<%= escape_javascript( 
      render @terms 
    ) %>");

  var created_term = <%= @term.id %>,
      new_term     = $("li#term_" + created_term)

  // Clear form
  el.find('input:text,textarea').val('');
  el.find('#error_explanation').empty();
  
  new_term.find('a.term-link').addClass('selected').focus()

  console.log('position: ' + new_term.position().top)
  console.log('offset: ' + new_term.offset().top)

  $('ol#terms').animate({
    scrollTop: new_term.position().top
  }, 1000);

  $('#termForm').modal('hide')
  
<% end %>