<h1>@glossary.title</h1>
<p>This is the terms index for the specified glossary. From here you can search for / create / destroy / update / read a term.</p>
<p>Term attributes are:
	<ul>
		<li>term</li>
		<li>definition</li>
		<li>acronym</li>
	</ul>
</p>
<p>Glossaries in black are normal status, glossaries in blue have been updated, glossaries in red are new / < 1 day old.</p>

<h1>Menu</h1>
<ul>
	<li>add</li>
	<li>edit</li>
</ul>

<h1>Design</h1>
<ul>
	<li>When searching, start typing in the input to start search</li>
	<li>When creating, modal dialog pops up</li>
	<li>When editing, the trash can symbol pops up to the left of each term</li>
	<li>When editing, clicking on the term brings up the read modal, but with added editing features</li>
	<li>When reading, clicking on the term brings up the read modal</li>
</ul>

<h1>Read Modal</h1>
<ul>
	<li>Term: (with acronymize method, all capital letters make up the acronym, collapses to just the capital letters)</li>
	<li>Definition:</li>
</ul>

<h1>Add Modal</h1>
<ul>
	<li>Term</li>
	<li>Acronym (checkbox - animates to the right with an input and brackets)</li>
	<li>Definition - box outline</li>
</ul>