<h1>@glossary.title</h1>
<p>This is the terms index for the specified glossary. From here you can search for / create / destroy / update a term.</p>
<p>Term attributes are:
	<ul>
		<li>term</li>
		<li>definition</li>
		<li>acronym</li>
		<li>useful links</li>