<footer class="footer">
  <nav>
    <ul>
   		<li><%= link_to "Sign up",	'#' %></li>
      <li><%= link_to "Help",		'#' %></li>
      <li><%= link_to "Contact",	'#' %></li>
    </ul>
  </nav>
</footer>